@charset "utf-8";
/* CSS Document */

table#add-prd{
	width:938px;
	height:auto;
	}
	
table#add-prd tr td{
	padding-bottom:10px;
	}
	
table#add-prd tr td label{
	font-weight:bold;
	color:#840000;
	}		

table#add-prd tr td input[type="text"]{
	width:300px;
	}















